-e git+https://github.com/jlee-made/icdiff-expects.git@433f25572e698626f1aabd892c9a8e243d97d1ef#egg=icdiff-expects
-e git+https://github.com/jlee-made/icdiff.git@13abb1ae6120f31edcf856c7468268f1eeff6cea#egg=icdiff-inprocess
expects>=0.8.0
pytest>=3.2.0
riemann-client>=6.5.0
tox>=2.7.0

codecov==2.0.15
pytest-cov==2.5.1
